empy==3.3.2
matplotlib==3.1.2
numpy==1.19.5
onnx==1.9.0
onnxruntime==1.9.0
opencv-contrib-python==3.4.8.29
opencv-python==4.3.0.36
Pillow==8.4.0
protobuf==3.20.0
pycuda==2019.1.2
pykalman==0.9.5
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.10.0
tensorboard==2.0.2
tensorrt==8.4.3.1
torch==1.11.0+cu113
torchvision==0.12.0+cu113
